%h1 {{ title }}
%p.body{ "ng-bind-html" => "body" }{{ body }}
.form{ "ng-submit" => "saveCollection($event)"}
  = form_for @collection do |f|

    .field{ "ng-class" =>"errorClass('title')" }
      = f.label :title, "Geben Sie ihre Kollektion einen Titel"
      = f.text_field :title, "ng-model" => 'collection.title'
      .error{"ng-show"=>"form.title.$invalid && form.title.$dirty"}
        {{ errorMessage('title') }}
    - @options.each do |field|
      .field
        %input{ type: field["type"], value: field["value"], name: "options[#{field["name"]}]" }
        - if field["label"].present?
          %label= field["label"]
    .field
      = f.select :category, options_for_select(@categories)

.ngdialog-buttons.mt
  = link_to "Speichern", "#", class: "ngdialog-button ngdialog-button-primary", "ng-click" => "saveCollection($event)"